# Byte-compiled / caches
_pycache_/
*.pyc

# Virtual env
venv/
env/
.venv/

# Data / artifacts / models
artifacts/
results/
models/
*.pkl
*.h5
*.pt

# Jupyter
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Env / secrets
.env
*.env